@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap");

/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Space Grotesk", sans-serif;
  height: 100dvh;
  display: grid;
  place-items: center;
}

*/

:root {
  --border-color: #9eb25d;
  --bg-color: rgba(238, 252, 206, 0.4);
}

.active-tab {
  background: #9eb25d;
  color: #fff;
  font-weight: 600;
}

.main__container {
  border-radius: 2rem;
  display: flex;
  /*margin-top: 4rem;*/

  flex-direction: column;
  gap: 4rem;

  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  /*width: max-content;*/
  padding: 8rem;
  color: var(--border-color);
  background: var(--bg-color);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 4rem;
}
.tab__header {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.tab__header li {
  flex: 1;
  cursor: pointer;
  padding: 2rem;
  border: 2px solid var(--border-color);
  text-align: center;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  font-size: 2rem;
}

.tab__container {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  width: 80rem;
  max-width: fit-content;
  border-radius: 2rem;
  padding: 4rem;
  box-shadow: inset -3px -3px 3px rgba(0, 0, 0, 0.2),
    inset 3px 3px 3px rgba(0, 0, 0, 0.2);
  gap: 2rem;
}

.tab__content {
  padding: 2rem;
  min-height: 25rem;
  border: 2px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background: #fff;
  border-radius: 2rem;
}

.tab__content .w-100{
 width: 100%;
}

.tab__content img {
  width: 40%;
}

.tab__content p {
  text-align: center;
}


.contact-pg-section .video-form-col {
  width: calc(100% - 487px);
  float: right;
  padding-left: 146px;
  position: relative;
}

.contact-pg-section .video-info {
  width: 487px;
  float: left;
}

.contact-pg-section .video-info h2{
  color: #232323;
  font-family: "Playfair Display", Sans-serif;
  font-size: 65px;
  font-weight: 400;
  font-style: italic;
}

.non-tag select{
  display: none;
}

#tryon-video-section{
  padding-bottom: 10px;
}

.sub-select{
  min-width: 350px;
}

@media screen and (max-width: 1000px) {
  .main__container {
    gap: 2rem;
    padding: 1rem;
    width: 95%;
    margin: 5rem auto;
  }

  h1 {
    font-size: 3rem;
  }

  .tab__header {
    flex-wrap: wrap;
  }

  .tab__content {
    gap: 2rem;
    min-height: 35rem;
  }
  .tab__header li {
    font-size: 1.6rem;
  }

  .tab__container {
    width: 100%;
    padding: 2rem;
  }

  .tab__content p {
    font-size: 1.6rem;
  }

}